@model ManyToManyApp.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Информация о студенте</h2>

<div class="display-label"><b>Имя</b></div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label"><b>Фамилия</b></div>
<div class="display-field">
    @Html.DisplayFor(model => model.Surname)
</div>

<div class="display-label"><b>Курсы</b></div>
<ul>
    @foreach (var c in Model.Courses)
    {
        <li>@c.Name</li>
    }
</ul>
